<div>
  <p>Welcome to Landlord the App that will make communication with your landlord much easier</p>
  <a href="">Account</a>
  <a href="">Landlord</a>
  <a href="">Listings</a>
  <a href="">Post</a>
</div>
