<div>
  <p>Sign-Up</p>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="password_confirmation" placeholder="Password_Confirmation">
  </form>
</div>
